<div class="container-fluid padding">
    <div class="row content padding first">
        <div class="col-lg-6 order-lg-1">
            <h2>Deine Bilder</h2>
        </div>
        <div class="col-lg-6 order-lg-2">
            <div class="float-end">
                <button type="button" class="btn btn-primary ms-2" (click)="toggleFilter()">Filter</button>
                <button type="button" class="btn btn-primary ms-2" (click)="toggleImageUpload()">Neue Bilder hochladen</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="imageUploadActive">
    <image-upload (imageUploadEvent)="handleImageUploadEvent($event)"></image-upload>
    <br>
</div>

<div *ngIf="filterActive" class="d-flex justify-content-center">
    <button type="button" id="uploadedFilterButton" class="btn btn-primary ms-2" (click)="toggleUploadedFilter()">Hochgeladen</button>
    <button type="button" id="processedFilterButton" class="btn btn-primary ms-2" (click)="toggleProcessedFilter()">Erkannt</button>
    <button type="button" id="approvedFilterButton" class="btn btn-primary ms-2" (click)="toggleApprovedFilter()">Bestätigt</button>
    <button type="button" id="exportedFilterButton" class="btn btn-primary ms-2" (click)="toggleExportedFilter()">Exportiert</button>
</div>

<div class="padding">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="idimage">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let image"> {{image.idimage}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let image"> <a routerLink="/images/{{image.idimage}}"> {{image.name}}
                    </a> </td>
            </ng-container>

            <ng-container matColumnDef="mimetype">
                <th mat-header-cell *matHeaderCellDef> Mimetype </th>

                <td mat-cell *matCellDef="let image"> {{image.mimetype}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let image"> {{image.state}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>