/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
    margin: 2em;
}
body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #B2C000;
    text-decoration: none;
    font-weight: 500;
}
a:active {
    color: #333;
    text-decoration: none;
}

.padding {
    padding-top: 1rem;
}

.btn-primary {
    font-family: Helvetica, sans-serif;
    font-weight: Bold !important;
    color: #B2C000;
    background-color: #fff;
    border-color: #B2C000;
    border-radius: 0;
    border-width: 0.1em;
}
.btn-primary:hover {
    color: #fff;
    background-color: #B2C000;
    border-color: #B2C000;
}
.btn-primary:focus {
    color: #B2C000;
    background-color: #fff;
    border-color: #B2C000;
}

.btn-secondary {
    font-family: Helvetica, sans-serif;
    font-weight: Bold !important;
    color: #C3CCD0;
    background-color: #fff;
    border-color: #C3CCD0;
    border-radius: 0;
    border-width: 0.1em;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #C3CCD0;
    border-color: #C3CCD0;
}
.btn-secondary:focus {
    color: #C3CCD0;
    background-color: #fff;
    border-color: #C3CCD0;
}


.btn-danger {
    font-family: Helvetica, sans-serif;
    font-weight: Bold !important;
    color: #b44011;
    background-color: #fff;
    border-color: #b44011;
    border-radius: 0;
    border-width: 0.1em;
}
.btn-danger:hover {
    color: #fff;
    background-color: #b44011;
    border-color: #b44011;
}
.btn-danger:focus {
    color: #b44011;
    background-color: #fff;
    border-color: #b44011;
}
