<div *ngIf="fields">
    <div class="padding">
        <div><span>id: </span>{{fields.idfields}}</div>
        <div>
            <label for="fields-signature">Signature: </label>
            <input type="text" id="fields-signature" [(ngModel)]="fields.signature">
        </div>
        <div>
            <label for="fields-author">Author: </label>
            <input type="text" id="fields-author" [(ngModel)]="fields.author">
        </div>
        <div>
            <label for="fields-title">Title: </label>
            <input type="text" id="fields-title" [(ngModel)]="fields.title">
        </div>
        <div>
            <label for="fields-comment">Comment: </label>
            <input type="text" id="fields-comment" [(ngModel)]="fields.comment">
        </div>
        <div>
            <label for="fields-category">Category: </label>
            <input type="text" id="fields-category" [(ngModel)]="fields.category">
        </div>

        <div class="padding">
            <button type="button" class="btn btn-secondary" (click)="save()">save</button>
        </div>
    </div>
</div>